.footer{

    &__component{

    }
    
    &__section{

        &--first{
            background-color: var(--lightGreen);
            color: var(--black);
        }

        &--second{
            background-color: var(--green);
            color: var(--white);
        }

    }
}